{
  "token_hmac_secret_key": "{{ lookup('community.general.random_string') | to_uuid }}",
  "api_key": "{{ lookup('community.general.random_string') | to_uuid }}",
  "admin": false,
  "allowed_origins": ["*.avtovokzaly.ru"],
  "usage_stats_disable": true,
  "allow_subscribe_for_client": true,
  "namespaces": [
    {
      "name": "public",
      "allow_subscribe_for_anonymous": true
    }
  ]
}
